Source: svirtnet
Section: devel
Priority: extra
Maintainer: Vasiliy Tolstov <v.tolstov@selfip.ru>
Build-Depends: debhelper (>= 9), git-core, golang (>= 1.0), mercurial
Standards-Version: 3.9.4
Homepage: https://gitlab.clodo.ru/packages/package-svirtnet
Vcs-Git: http://gitlab.clodo.ru/packages/package-svirtnet.git
Vcs-Browser: https://gitlab.clodo.ru/packages/package-svirtnet

Package: svirtnet
Architecture: any
Depends: ${misc:Depends}
Description: svirtnet
 svirtnet server written in golang.


