[Unit]
Description=LSB: simple virt-net
After=libvirt-bin.service 
Wants=libvirt-bin.service

[Service]
Type=simple
Restart=always
RestartSec=5s
StartLimitInterval=0
ExecStart=/usr/bin/svirtnet

[Install]
WantedBy=libvirt-bin.service
Alias=svirtnet.service
